.Navbar {
  width: 94%;
  height: 15vh;
  padding-left: 2%;
  padding-right: 4%;
  padding-top: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}
.tabs {
  display: flex;
  list-style: none;
}

.tab {
  padding: 0 1.5rem;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight:normal;
}

.tab:hover {
  color:black !important;
}

.tabs-light .tab:hover {
  color: lightgray !important;
}

Link {
  color: inherit;
  text-decoration: inherit;
  padding: inherit;
  cursor: inherit;
  display: inherit;
}

.tabs-light .tab Link:hover {
  color:lightgray !important;
}
