
.about-title-container {
  background-image: url('../../assets/about/about-bkg.svg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.about-title-container h1 {
  padding: 23%;
  color: white;
  /* text-align: center; */
}

.about-section {
  display: flex;
  position: relative;
  /* text-align: center; */
  /* justify-content: space-between; */
  /* margin: 5vw; */
  width: 100vw;
  height: auto;
}

.about-text {
  width: 38vw;
  padding: 10vw;
  /* padding-left: 10vw; */
}

.about-image {
  padding-top: 10vw;
  padding-bottom: 10vw;
  padding-right: 10vw;
  width: 30vw;
  height:auto;
}